{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gallery</h1>

    {% if images is not empty %}
        {% for image in images %}
            <p> Email: {{ image.email }} </p>
            <p> Unique id: {{ image.getUniqueId }} </p>
            <img src="{{ asset('uploads/images/' ~ image.file) }}" width="50px"/>
        {% endfor %}
    {% else %}
         0 result
    {% endif %}

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(images) }}
    </div>


{% endblock %}
